---
import "../styles/global.css";

// components
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Pedro",
  country: "Portugal",
  occupation: "Frontend Engineer",
  hobbies: ["gaming", "sports", "gym"],
};

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, my name is {identity.firstName} and I'm from {identity.country} and I'm currently
    a {identity.occupation}
  </p>

  <p>Some of my interests include:</p>
  <ul>
    {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
  </ul>

  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I've already finished this tutorial.</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days</p>
    ) : (
      <p>My goal is not 3 days</p>
    )
  }
</BaseLayout>
